@{
  Layout="Shared/_Layout.cshtml";
}
<h1>You have successfully addeed your imaginary friend to you Contacts List!</h1>

<h3>@Model.GetName()</h3>
<ul>
  <li>@Model.GetNumber()</li>
  <li>@Model.GetAddress()</li>
</ul>
<h3>Return to<a href="/"> home</a>.<h3>
