<h1>Pretend you have a friend and enter their data here!</h1>

<h3>Create a new contact.</h3>
  <form action="/ContactAdded" method="post">
  <label for="new-name">Conatacts name</label>
  <input id='new-name' type="text" name="new-name"></br>
  <label for="new-number">Conatacts phone number</label>
  <input id='new-number' type="text" name="new-number"><br>
  <label for="new-address">Conatacts address</label>
  <input id='new-address' type="text" name="new-address"><br>
  <button type="submit" name="button">Submit</button>
</form>
<h3>Return to<a href="/"> home</a>.</h3>
