@{
  Layout="Shared/_Layout.cshtml";
}
<h1>Welcome to your very own contact list!</h1>
<h3>Let's see how many people you know.</h3>
@if (@Model.Count == 0)
{
  <h3>You have no entries in your Contact List!</h3>
}
<ul>
@foreach (var contact in Model)
{
  <li><a href='ContactInfo/@contact.GetId()'>@contact.GetName()</a></li>
}
</ul>
<h3>Click <a href="FormContact">here</a> to create a new contact</h3>
<br>
<form  action="/RemoveSuccess" method="post">
  <button type="submit" name="button">Unfriend all contacts</button>
</form>
